<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Name="de" />
            <Directory Id="dirDE139F2B8E4F53C7894010653FA4ACF5" Name="de-DE" />
            <Directory Id="dir3A20458C1B036229CDF551BF6D0E04E0" Name="en" />
            <Directory Id="dir64D71989966D3C995252DD5EAD72204A" Name="es" />
            <Directory Id="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Name="fr" />
            <Directory Id="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Name="it" />
            <Directory Id="dir250D607B4E859FD3B153389E856E9245" Name="ja" />
            <Directory Id="dir68BD67567308D790DAE3C9405A87DE04" Name="ko" />
            <Directory Id="dir708C42139DC1E69F520BAA88DF86F6F5" Name="Resources" />
            <Directory Id="dir113445E6F89EECCCAD68A52BB70F8EF9" Name="ru" />
            <Directory Id="dir4F5F83E0389A812227380377C68B5898" Name="x64" />
            <Directory Id="dir0FCD9E4FEBB52846A30839CE1976306B" Name="x86" />
            <Directory Id="dirD8D18BE0CBE3A171A18753A5B5985BB4" Name="zh-Hans" />
            <Directory Id="dir0A56E1DCE96682D4EA5091E415D1089C" Name="zh-Hant" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PrimaryOutputComponent">
            <Component Id="cmp1F9F4995E6C73C262FA214D7EA49F04B" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="filC8026A28F1D2B1EE0A6F77F2B2B414DA" KeyPath="yes" Source="$(var.PrimaryOutputDir)\2014-12-02.log" />
            </Component>
            <Component Id="cmpB8C81CB399A45DF0500C8CCC806D6725" Directory="APPLICATIONFOLDER" Guid="*">
                <File Id="fil37C5426C17BC78E76755A859E2263541" KeyPath="yes" Source="$(var.PrimaryOutputDir)\debug.log" />
            </Component>
            <Component Id="cmpE07E66C5E17A58D8910960EE3CE90E2F" Directory="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpBBD9D3FF07BE35AC5241A701D3F86F99" Directory="dirDE139F2B8E4F53C7894010653FA4ACF5" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpF704D9257C45FB1EBCC5466290DDDEB2" Directory="dir3A20458C1B036229CDF551BF6D0E04E0" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpCD3061B942953E18E7D595A0204D331A" Directory="dir64D71989966D3C995252DD5EAD72204A" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpE7419AE588D6ABB85E801918A7DAA143" Directory="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmp1FAFAA287E3FBD564ECB0EC205E53979" Directory="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpF9AD36EEB48C91D8E8E8B09C8A6C3D40" Directory="dir250D607B4E859FD3B153389E856E9245" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmp7839E28462BAC6A4B478780F1D23FC54" Directory="dir68BD67567308D790DAE3C9405A87DE04" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpAC7B0490D4585CD6CAA3F1544485B82A" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="fil271FD5918575F4E151DEEBD1835C68A3" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\build-config.js" />
            </Component>
            <Component Id="cmp3F1939F165C3B57D5DCA7C0A5A75A2F2" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="filF5AB048D4702CACD35CCF7771345AF25" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\CHANGES.md" />
            </Component>
            <Component Id="cmpCAB39C947E20A3E2105D7EDCD7AFC673" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="filA3029C6174D8E474ED6DEB99D8EDCD8A" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\ckeditor.js" />
            </Component>
            <Component Id="cmpA6FD4E096B854B3EC2742A2A0E862541" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="filF1EC1154524E482621EDE9802ADF20CF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\config.js" />
            </Component>
            <Component Id="cmpAE318CEF8A0B988B827D78C2E038953F" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="fil1AA400914F69F44EA1D4926B605367CF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\contents.css" />
            </Component>
            <Component Id="cmpA8C454E2A7E1A21E656DCA9EB7F7D3C9" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="filEAC56BFF8AED1F8FE5E2D6012F894351" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\LICENSE.md" />
            </Component>
            <Component Id="cmp5CB24073D01B13EDC091C9691C7B2215" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="fil8626118902032986F3F0CE9FEECBCA5A" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\README.md" />
            </Component>
            <Component Id="cmpAB1B192FA234ED054411DE27412A6182" Directory="dirBC4E40FE1FF2212778A0ED81CF5923CE" Guid="*">
                <File Id="filA10808269D3988387E16513536F544BC" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\styles.js" />
            </Component>
            <Component Id="cmp35DD3ABA2053EB266608160160DD590D" Directory="dirC28B371E7B950BA6676EF1C36A8B0007" Guid="*">
                <File Id="filA0D222849D04A294275F6A535C669EF7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\adapters\jquery.js" />
            </Component>
            <Component Id="cmpB981A309EDA5B590E78B14CD3663C8B1" Directory="dir047A73D5DCC305751E966A6D13EF8D5F" Guid="*">
                <File Id="filD73BC6E0B31A071DDFF2E4C41058A688" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\lang\de.js" />
            </Component>
            <Component Id="cmp5B49031075A9D5A45A5A2F6D5A127065" Directory="dir047A73D5DCC305751E966A6D13EF8D5F" Guid="*">
                <File Id="fil15F88E1E0210EDF0957ABC0DC81C2FAA" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\lang\en.js" />
            </Component>
            <Component Id="cmpB7337CC298370B63D89482725B5B10BC" Directory="dir02114F12F3DCDDA0E149B22481A1122E" Guid="*">
                <File Id="fil2FE376BAF7F656FF82A9F74F121C27BB" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\icons.png" />
            </Component>
            <Component Id="cmpF81CDC500C70C94F5EE6973803645CA6" Directory="dir02114F12F3DCDDA0E149B22481A1122E" Guid="*">
                <File Id="fil496E5EDEC261BD7C7742982C8796AB4D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\icons_hidpi.png" />
            </Component>
            <Component Id="cmpAEDA5E2DADF2AF5A51CE27734697855A" Directory="dir2DB94AD50C87511AC2F73C69A5E30994" Guid="*">
                <File Id="fil7E8B99B4CDF2726CE59F79F4CA75D7F0" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\clipboard\dialogs\paste.js" />
            </Component>
            <Component Id="cmp8AECCD214AFAC8D4D954B930E06BA53F" Directory="dir718E62A639BB3A5767AB03E0BA00E764" Guid="*">
                <File Id="filFF31FBE57A5D73ED351641A635EBD19F" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\dialog\dialogDefinition.js" />
            </Component>
            <Component Id="cmpD9318A6C82E8EEACF2A001E9B91ACBEB" Directory="dir9E5B5A3D898CDE0B1FE6E726D3569183" Guid="*">
                <File Id="fil26D530E66DFD5ABBDC1CCFA4BA8BA081" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\image\dialogs\image.js" />
            </Component>
            <Component Id="cmp38581079858CCF5347506BC5E0CD08D4" Directory="dirD87E32D7BE7DC01C719817677E9B453D" Guid="*">
                <File Id="filCF818EC99639E83A5E221F37B3996B5A" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\image\images\noimage.png" />
            </Component>
            <Component Id="cmp3AB473560C1B7607AF612AFABA75E5FB" Directory="dirF6231DF5D352E11C8BFC4F100EC82EBB" Guid="*">
                <File Id="filA66FA91EF0A261DE75342F5E5605AA83" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\link\dialogs\anchor.js" />
            </Component>
            <Component Id="cmp124BF3FA3F6542196BDFF5913B89952E" Directory="dirF6231DF5D352E11C8BFC4F100EC82EBB" Guid="*">
                <File Id="fil0A1EDBCF937C7993177D1C54F31B01E4" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\link\dialogs\link.js" />
            </Component>
            <Component Id="cmpE3300568C9A455EBB6DFC3CE2621982D" Directory="dir330FDBC7B7ACF682E8ECD2C56ED4FAFA" Guid="*">
                <File Id="filB9F1FEC06ECBC9BAD4B243F1410C4F32" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\link\images\anchor.png" />
            </Component>
            <Component Id="cmpAE9B0D59DEFB2012F66099F091926BA5" Directory="dirD231E5EAD7B495980C2533F7996B9FD4" Guid="*">
                <File Id="fil21E0A4283DF4B30165E87CE23275B075" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\link\images\hidpi\anchor.png" />
            </Component>
            <Component Id="cmpACADCC7AEB1A5D855640344D81A33FCF" Directory="dirAD8CB76A6D91B2251DB4B9A8E76C08B5" Guid="*">
                <File Id="fil7B7EE8E1EA91F94A6EA2F6615FD43EF7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\magicline\images\icon-rtl.png" />
            </Component>
            <Component Id="cmpF43F435B7EB5B335F9CA6D7A39DD62D3" Directory="dirAD8CB76A6D91B2251DB4B9A8E76C08B5" Guid="*">
                <File Id="fil922898B61E83038079766EE791464B23" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\magicline\images\icon.png" />
            </Component>
            <Component Id="cmpF99EEA38A591A6586605CBA0B7CEC1DA" Directory="dirB38921AB6F2E5CDB55C2A614226EA639" Guid="*">
                <File Id="fil4E6A9A1D7FFCEAECF0A34E0E003E6C11" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\magicline\images\hidpi\icon-rtl.png" />
            </Component>
            <Component Id="cmpAED36D857A5653BC8AC2C2F79B21FCE1" Directory="dirB38921AB6F2E5CDB55C2A614226EA639" Guid="*">
                <File Id="fil27C4F486EECC988EF916ACD7B7093DF8" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\magicline\images\hidpi\icon.png" />
            </Component>
            <Component Id="cmp2F91074CFBD56E9EB7720B3B4AE50F77" Directory="dir902BE6BDD62D57A8ECD44E0FC997CDDB" Guid="*">
                <File Id="fil64D309509E5EBB917EA5EED743AA06EF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\specialchar.js" />
            </Component>
            <Component Id="cmpD32DC33F15761C8C8AF59237A0BD7540" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filCC28A84412D00BF6B17364518AB7EEFA" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\ar.js" />
            </Component>
            <Component Id="cmp8BA3D8A4E76C4E73EA13A22D0312F7F2" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil409699DB187E0F0F37AAD00B55D32F02" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\bg.js" />
            </Component>
            <Component Id="cmp62456EF46584099573A45D92DF27B5AF" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil05F026FF7054A439F047126AF7DD5D34" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\ca.js" />
            </Component>
            <Component Id="cmpC6706C78B4D9E3B8A1D3620646E976A4" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil7ECC0ADE7F66EFB235B5A49B331A65AA" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\cs.js" />
            </Component>
            <Component Id="cmp45523AB498FE7DFE2E139FCDC0F52527" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil84699F370696C2A244DE3940E8E94C01" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\cy.js" />
            </Component>
            <Component Id="cmp4D1CA6FADFB818F8D2CC975569197D94" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil9C73CF574E9B4AD849DADA4855B6A2B7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\de.js" />
            </Component>
            <Component Id="cmpB622CE984FE34A2EC4504F7E1F602250" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil94D76EA9F7305E7EB1D579377F2E02DE" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\el.js" />
            </Component>
            <Component Id="cmpACFDAAE84A15E437C3B4C5A76DE1AA5D" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil705D6F28E8CC8313D4DB24FF5ADE897A" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\en-gb.js" />
            </Component>
            <Component Id="cmpEBAA21094AF546CE4F4F05A92AB737F7" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil0270552867D976F31866D511FB6DA30E" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\en.js" />
            </Component>
            <Component Id="cmp96418900AC01F14609C92F8685F2303A" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil327F70B44CD2E7BFE1AA87FC564CE4BF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\eo.js" />
            </Component>
            <Component Id="cmp4BCC48F548D5DC22CDE3D7AB3D064BDB" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil8BC280AAB426F5F002F69951CC81A27C" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\es.js" />
            </Component>
            <Component Id="cmp68736B0E40DF11DC5B51702E310CD1EB" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil76A8A78979ABF7EA7BD3A542834C6CDD" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\et.js" />
            </Component>
            <Component Id="cmpCDD9E03B226EC7B72B63FD9BBC1D6C73" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil462194F7AABA55C90E7AA2DEA310626D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\fa.js" />
            </Component>
            <Component Id="cmp0D794ED2E6BB2D116A17309E5FA95FEC" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil8EA9D4F16086AF7D97F894A56A58D0D9" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\fi.js" />
            </Component>
            <Component Id="cmp355E54756CE7E84566DE616B02C9AAAA" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil0AC504F9CC7F88B7CAB6F5C6667482C4" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\fr-ca.js" />
            </Component>
            <Component Id="cmp74BEE87FAECA06AA9A8F21CAC34A17DC" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filFD18AE425535773CD8556A4DAB0703AB" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\fr.js" />
            </Component>
            <Component Id="cmp63D4E8AF2C6894146E3CE19239D27DD7" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil45429C2C90289762BFC48A1B0512AEB9" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\gl.js" />
            </Component>
            <Component Id="cmpF414F4B654E804AE9F22E88F864AC146" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filEE98DAD7565DE4A43540E0660A08E59A" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\he.js" />
            </Component>
            <Component Id="cmp34481327C66F951AFF573083CE875608" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil1BFE3AE6090A24DA60F40EA0AC996916" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\hr.js" />
            </Component>
            <Component Id="cmpDFFCD7197C2FCE6DF2C13F6A9F3D5860" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filF761769B61F7F436A429E6B7065D3AAD" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\hu.js" />
            </Component>
            <Component Id="cmp0EFF779C6A3478EC82011FCF5E6D1951" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil71DD8B730AA69C5E04B9E10C884AE7E3" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\id.js" />
            </Component>
            <Component Id="cmpE84787F6D6E68F1531AF1ECBAF4CDF48" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil1AD23E2D899AC7F3935D24D0E7A31889" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\it.js" />
            </Component>
            <Component Id="cmpAA192B89EF9A1682217FB782F580E42A" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil4B9C3C4435885D2F61FA2554CAD29FE5" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\ja.js" />
            </Component>
            <Component Id="cmpFB46B1054EF0DE307A07809CE8F7C311" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil2B7B0347E1BFCAFB56347995D1C83198" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\km.js" />
            </Component>
            <Component Id="cmp598F5649AE5AC8CA3EBFE596F9D38C5D" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filAB7F6AED1D89DADF4334C97A1AA4AF88" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\ku.js" />
            </Component>
            <Component Id="cmp641373560B1FC8DCC412CCFB62AA8030" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil8F7C6465280024BA099F83D4C71700ED" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\lv.js" />
            </Component>
            <Component Id="cmp20943A7B048C3FDF7C0D58C9F2C5AA17" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil73F25C3D58AB0D364CBCDB105B5C3C23" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\nb.js" />
            </Component>
            <Component Id="cmpB748104AC21A66E017B8F2943AAF1E07" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filE2473B3088065FFDC60628C279CC4C6D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\nl.js" />
            </Component>
            <Component Id="cmp28FB89D054D778CEACA5A5E5959154E4" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil22AF9D1019B8FB15BA4E25D2AEDF4A2B" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\no.js" />
            </Component>
            <Component Id="cmp43F51BD8618853DE35896D4CB1DA00B1" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil02C714C42A9AC414FA7B1A562FB105EE" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\pl.js" />
            </Component>
            <Component Id="cmpBCA133BE3EF3322E770F4CF2B2D7BCBB" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil325CA446F45858B75D154E07D477B9E7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\pt-br.js" />
            </Component>
            <Component Id="cmp23C9AD78783B7D6A2D2FF6A4E8EC2067" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil6A9CFE4C08F7BA110758800925CBC4DE" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\pt.js" />
            </Component>
            <Component Id="cmp112877DCF7CDB36487979C159C97505D" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil4AACB36B6B5CDDBD5D28E6EB140EDA48" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\ru.js" />
            </Component>
            <Component Id="cmpA830681305D6C9354E2677973BEA37BC" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filA420B6D198EAE3D8EDA92BD768C3C4A3" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\si.js" />
            </Component>
            <Component Id="cmp42C74400C432D9E8C9E308F7FB60FB93" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil88204F64A66D6F04D1F26B93389986BA" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\sk.js" />
            </Component>
            <Component Id="cmp52E56C0E129FA12956D6338F18AF4256" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil8DE6A950462008D36AB26A274B9EBD71" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\sl.js" />
            </Component>
            <Component Id="cmp614084170C22E01F7C37AC82D4EB980A" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil62C9C830F96DD2DC7CDAD9869BA37D03" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\sq.js" />
            </Component>
            <Component Id="cmp06DA164AAAAB7669E8DFC80F7C630176" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filB42E9490FC03A62AA972C0858C12CC6C" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\sv.js" />
            </Component>
            <Component Id="cmp6ECEABAE57C5F829148E4FE7A595AEA2" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil5C5B60F598CBDB868D8BD82B79ADCAC8" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\th.js" />
            </Component>
            <Component Id="cmpD49C22B84A7B9B4AAF4C6F48B03FA20F" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filB0D40503CA2194497ECB94AFE15713ED" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\tr.js" />
            </Component>
            <Component Id="cmp45E9D9AB2F346F8DE85DA32E13052422" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil22DFA81BE38E3A7BF606F093A1D5ADCF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\tt.js" />
            </Component>
            <Component Id="cmpD87BE781BBD021744A9B8B9D20B8C976" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filF25874F70C80E471E0D09F37D25369D4" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\ug.js" />
            </Component>
            <Component Id="cmp074DFBA8AF6393DC4FEA8B9FAADC79E1" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filB89CCE025053BBF13F7C2C6A0E42C80D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\uk.js" />
            </Component>
            <Component Id="cmp72060A861DD4A58B60CC17581D514402" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="fil32FA48B23E3DEB3ABA6CEFB15659A351" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\vi.js" />
            </Component>
            <Component Id="cmp9EB5D1820CAD63529158F114CF1C1DFA" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filEA1956E3734979EEF5C2EE358A52D674" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\zh-cn.js" />
            </Component>
            <Component Id="cmpB40E1E9A0483F1D17C94E28BA434FE9F" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filA62CACD215AF919D711F00D9BB115558" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\zh.js" />
            </Component>
            <Component Id="cmp65CF7BA652192C738F83B5293A0E915C" Directory="dir2DD6BA3376A5A53F45DA07933499037C" Guid="*">
                <File Id="filFA02AED1135382B1DB0B35D94FE3DF05" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\plugins\specialchar\dialogs\lang\_translationstatus.txt" />
            </Component>
            <Component Id="cmpA2A93694E04F5B2AB5D6A48B5D9AEE43" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil05612FA2DC039D03B5668F12FD4C2EBE" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\dialog.css" />
            </Component>
            <Component Id="cmpBB8639868FA55E21DB39F9E31A6C4B6C" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil89AA23475D9509A214B9FDFF6E7937C1" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\dialog_ie.css" />
            </Component>
            <Component Id="cmp5A958DFF5C1260D0B54FDAD71389EE61" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="filD72F3592DC1553477DFB8ABAB339C4B9" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\dialog_ie7.css" />
            </Component>
            <Component Id="cmp3C49AC6B60A39F9AF3508D10FA8477BB" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil8C6492D2336BCA5A79E6C1CE412A91AF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\dialog_ie8.css" />
            </Component>
            <Component Id="cmp6ADB3721ACE48BC23823CD8672DDECCF" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil3FE21120610132DD99DBCC59BCE93A7C" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\dialog_iequirks.css" />
            </Component>
            <Component Id="cmpE64BB630D7FBE0B80DB30210A907455D" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="filB26B90A4D5243E2359B0FC0E7428A3DB" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\editor.css" />
            </Component>
            <Component Id="cmp2E3733D140506FFAD51EB48EF538776E" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil5552AE6967D5D1C618F6118F4D71ACAE" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\editor_gecko.css" />
            </Component>
            <Component Id="cmpD6AE089146573C04E4ECAA4027C83856" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil894130AAE525EC91C6DF314132EBA38F" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\editor_ie.css" />
            </Component>
            <Component Id="cmp202282B304A30BF953719746AACBC5F5" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil53521544FE605F7562B612B7E47B1D63" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\editor_ie7.css" />
            </Component>
            <Component Id="cmpCDC4224071C946952F503254A3A9436F" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil97CE9506D178BD3E46B8447387C49A90" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\editor_ie8.css" />
            </Component>
            <Component Id="cmp6A417136007384CDAE2741DE5156247A" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="filE07AB8FBD8776D2388AB894F514FE33E" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\editor_iequirks.css" />
            </Component>
            <Component Id="cmp0A8B447208F67B8D04F99952E335C366" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="filBD785B290258FD63713767B873796642" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\icons.png" />
            </Component>
            <Component Id="cmp91DA2FD5EAA6F7EB889E5156F0CD12B9" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil839FFFFE9B2D6603098940D499296FF3" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\icons_hidpi.png" />
            </Component>
            <Component Id="cmpB9D142204462469E673E8764B2BA6316" Directory="dir7FB352C6E45419FD6276F824BB46AB98" Guid="*">
                <File Id="fil3D7855B16AF8382E05158C54CB1635B0" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\readme.md" />
            </Component>
            <Component Id="cmp8EF85513841B9FFDBF771F9BB22F2120" Directory="dirDCBF270C146BEB01289FA1443623D773" Guid="*">
                <File Id="filAC9CE88705130912C48ADCBF086503BE" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\arrow.png" />
            </Component>
            <Component Id="cmp3EC45D9F35194CA167B8B46645A6452D" Directory="dirDCBF270C146BEB01289FA1443623D773" Guid="*">
                <File Id="fil24F04329850280503E3F2C2DB7800A59" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\close.png" />
            </Component>
            <Component Id="cmp6521C4075EB85AFC0576EF151810E144" Directory="dirDCBF270C146BEB01289FA1443623D773" Guid="*">
                <File Id="filD3FA4B3BD60E89B5AC478BD5597BCD19" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\lock-open.png" />
            </Component>
            <Component Id="cmp3D3F9EC483C1B6B9251785213988764A" Directory="dirDCBF270C146BEB01289FA1443623D773" Guid="*">
                <File Id="filF8D7518D83C5CEB00E149130A2B32B6B" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\lock.png" />
            </Component>
            <Component Id="cmp1563041DBDBF585713D02C818B8CF120" Directory="dirDCBF270C146BEB01289FA1443623D773" Guid="*">
                <File Id="filF34A5573B0B31F0D29213BC8E8AB46B3" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\refresh.png" />
            </Component>
            <Component Id="cmp4A56F91DECB659B359C8E95FF36ED31F" Directory="dirAF8B0E6A31FF7405E9079F426F9CF551" Guid="*">
                <File Id="fil02EBD665E4E02819886EBE5298B27645" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\hidpi\close.png" />
            </Component>
            <Component Id="cmpEF18EE5D592B7AAA531C274475FFDA26" Directory="dirAF8B0E6A31FF7405E9079F426F9CF551" Guid="*">
                <File Id="filE45E19196C2D65B097C381C925CE0F81" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\hidpi\lock-open.png" />
            </Component>
            <Component Id="cmpF1C82AF71D87ECEA1C092443ADF0B718" Directory="dirAF8B0E6A31FF7405E9079F426F9CF551" Guid="*">
                <File Id="filEA3A8EEB8DF1247D442F37846D420AF6" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\hidpi\lock.png" />
            </Component>
            <Component Id="cmpFE2EC5A183CA45041B00A937B6F62302" Directory="dirAF8B0E6A31FF7405E9079F426F9CF551" Guid="*">
                <File Id="fil4C43577B68BE88D47C22198C77507F09" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\ckeditor\skins\moono-dark\images\hidpi\refresh.png" />
            </Component>
            <Component Id="cmp08393A7A3245BAF602A5BC57B1E63B9F" Directory="dir36FF6BE765C5563845DD23A3F855A9F3" Guid="*">
                <File Id="fil4144493902F143DBFEAD231A7523C47E" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Resources\jquery\jquery-2.1.1.min.js" />
            </Component>
            <Component Id="cmp75F0EEFF7079152C64C9AB7A45667335" Directory="dir113445E6F89EECCCAD68A52BB70F8EF9" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmp0B5FDE9F0BA28E0A14E1F5358F1DE285" Directory="dir4F5F83E0389A812227380377C68B5898" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpED12BB9D933BA8D5783582D4E4F733D5" Directory="dir0FCD9E4FEBB52846A30839CE1976306B" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpD6482BB417B7E4E86A7B62AA9176EA38" Directory="dirD8D18BE0CBE3A171A18753A5B5985BB4" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
            <Component Id="cmpCAF799F00CF18598EF8B59B120AA366C" Directory="dir0A56E1DCE96682D4EA5091E415D1089C" Guid="*" KeyPath="yes">
                <CreateFolder />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBC4E40FE1FF2212778A0ED81CF5923CE">
            <Directory Id="dir02114F12F3DCDDA0E149B22481A1122E" Name="plugins" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBC4E40FE1FF2212778A0ED81CF5923CE">
            <Directory Id="dir047A73D5DCC305751E966A6D13EF8D5F" Name="lang" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBC4E40FE1FF2212778A0ED81CF5923CE">
            <Directory Id="dir203B84AB1FCE367D3EF72DF5E793C2BE" Name="skins" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6A2045AE0173B1F9659210FECB001D03">
            <Directory Id="dir2DB94AD50C87511AC2F73C69A5E30994" Name="dialogs" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir902BE6BDD62D57A8ECD44E0FC997CDDB">
            <Directory Id="dir2DD6BA3376A5A53F45DA07933499037C" Name="lang" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir5DEA96ABF4E57D53F87E41E8E89052BC">
            <Directory Id="dir330FDBC7B7ACF682E8ECD2C56ED4FAFA" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir708C42139DC1E69F520BAA88DF86F6F5">
            <Directory Id="dir36FF6BE765C5563845DD23A3F855A9F3" Name="jquery" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir02114F12F3DCDDA0E149B22481A1122E">
            <Directory Id="dir4E52E16327198AB5B40E01460ADDC011" Name="magicline" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir02114F12F3DCDDA0E149B22481A1122E">
            <Directory Id="dir5DEA96ABF4E57D53F87E41E8E89052BC" Name="link" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir02114F12F3DCDDA0E149B22481A1122E">
            <Directory Id="dir6A2045AE0173B1F9659210FECB001D03" Name="clipboard" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir02114F12F3DCDDA0E149B22481A1122E">
            <Directory Id="dir718E62A639BB3A5767AB03E0BA00E764" Name="dialog" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir203B84AB1FCE367D3EF72DF5E793C2BE">
            <Directory Id="dir7FB352C6E45419FD6276F824BB46AB98" Name="moono-dark" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir02114F12F3DCDDA0E149B22481A1122E">
            <Directory Id="dir88B8BD22C0BBBAF22FAFB8A957BC96FB" Name="specialchar" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir88B8BD22C0BBBAF22FAFB8A957BC96FB">
            <Directory Id="dir902BE6BDD62D57A8ECD44E0FC997CDDB" Name="dialogs" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF902F5191E479E9BD1FB3E66456EE99E">
            <Directory Id="dir9E5B5A3D898CDE0B1FE6E726D3569183" Name="dialogs" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4E52E16327198AB5B40E01460ADDC011">
            <Directory Id="dirAD8CB76A6D91B2251DB4B9A8E76C08B5" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirDCBF270C146BEB01289FA1443623D773">
            <Directory Id="dirAF8B0E6A31FF7405E9079F426F9CF551" Name="hidpi" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirAD8CB76A6D91B2251DB4B9A8E76C08B5">
            <Directory Id="dirB38921AB6F2E5CDB55C2A614226EA639" Name="hidpi" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir708C42139DC1E69F520BAA88DF86F6F5">
            <Directory Id="dirBC4E40FE1FF2212778A0ED81CF5923CE" Name="ckeditor" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBC4E40FE1FF2212778A0ED81CF5923CE">
            <Directory Id="dirC28B371E7B950BA6676EF1C36A8B0007" Name="adapters" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir330FDBC7B7ACF682E8ECD2C56ED4FAFA">
            <Directory Id="dirD231E5EAD7B495980C2533F7996B9FD4" Name="hidpi" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF902F5191E479E9BD1FB3E66456EE99E">
            <Directory Id="dirD87E32D7BE7DC01C719817677E9B453D" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7FB352C6E45419FD6276F824BB46AB98">
            <Directory Id="dirDCBF270C146BEB01289FA1443623D773" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir5DEA96ABF4E57D53F87E41E8E89052BC">
            <Directory Id="dirF6231DF5D352E11C8BFC4F100EC82EBB" Name="dialogs" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir02114F12F3DCDDA0E149B22481A1122E">
            <Directory Id="dirF902F5191E479E9BD1FB3E66456EE99E" Name="image" />
        </DirectoryRef>
    </Fragment>
</Wix>