<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Name="de" />
      <Directory Id="dirDE139F2B8E4F53C7894010653FA4ACF5" Name="de-DE" />
      <Directory Id="dir3A20458C1B036229CDF551BF6D0E04E0" Name="en" />
      <Directory Id="dir64D71989966D3C995252DD5EAD72204A" Name="es" />
      <Directory Id="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Name="fr" />
      <Directory Id="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Name="it" />
      <Directory Id="dir250D607B4E859FD3B153389E856E9245" Name="ja" />
      <Directory Id="dir68BD67567308D790DAE3C9405A87DE04" Name="ko" />
      <Directory Id="dirD9BDD7640045AB6653B1C37CCF84AB0B" Name="locales" />
      <Directory Id="dir113445E6F89EECCCAD68A52BB70F8EF9" Name="ru" />
      <Directory Id="dir4F5F83E0389A812227380377C68B5898" Name="x64" />
      <Directory Id="dir0FCD9E4FEBB52846A30839CE1976306B" Name="x86" />
      <Directory Id="dirD8D18BE0CBE3A171A18753A5B5985BB4" Name="zh-Hans" />
      <Directory Id="dir0A56E1DCE96682D4EA5091E415D1089C" Name="zh-Hant" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="PrimaryOutputComponent">
      <Component Id="cmp25875AD1E6ECE7620CC4E33BDBE3FA09" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil30894D8961E4A3F04FFA01567C375BD9" KeyPath="yes" Source="$(var.PrimaryOutputDir)\2015-02-07.log" />
      </Component>
      <Component Id="cmp209DEAA23499C09A2B72330C03FAA67B" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filFE715A5145248B904B6AB9B38C873286" KeyPath="yes" Source="$(var.PrimaryOutputDir)\2015-02-09.log" />
      </Component>
      <Component Id="cmpF083AB1ED2ECD8BE7D1BB76A20DD520C" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filDBEE104418ADDB542D02DFE662D9FB72" KeyPath="yes" Source="$(var.PrimaryOutputDir)\2015-02-10.log" />
      </Component>
      <Component Id="cmp579E63D335203B695E845B1AF76AD234" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil666CF67B1CFB66E18ED98AF4BE633C91" KeyPath="yes" Source="$(var.PrimaryOutputDir)\app.config" />
      </Component>
      <Component Id="cmpA2F9B0FB5083527F50BF2DE639BC57B9" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil04A5ECCFC35C9DD69052A5813B50824D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\app.manifest" />
      </Component>
      <Component Id="cmp7C2663391AFACCB9AC0357BDC3B69E30" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filFB50C62A972EC9A78E01CF784102FB72" KeyPath="yes" Source="$(var.PrimaryOutputDir)\cef.log" />
      </Component>
      <Component Id="cmp463C4316D2DFF1837F38707979359E30" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil7975CE4E86034C44DA0FC4865FD700EA" KeyPath="yes" Source="$(var.PrimaryOutputDir)\cef.pak" />
      </Component>
      <Component Id="cmpCEE89FA835454741DBFE7A857202DA08" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil5CE064950F51C43880BC54B1A625E903" KeyPath="yes" Source="$(var.PrimaryOutputDir)\CefGpuProcess.cs" />
      </Component>
      <Component Id="cmp28B2B537604940DBF2B0E635BE532A85" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filBD49F847B2E04B4F6DB8CA1B7CC40438" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\CefRenderProcess.cs" />
      </Component>
      <Component Id="cmp7AEE3CCF09BDD71BB63E1FC49218B64C" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filF138289CE3B3A08C928005F4D6A8158A" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\CefSharp.BrowserSubprocess.Core.dll" />
      </Component>
      <Component Id="cmp2735FE0F04EA095DF436A685F8138EEE" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil80A6A02681C4D3265D474F55B17A66D1" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\CefSharp.BrowserSubprocess.csproj" />
      </Component>
      <Component Id="cmp3D5CFE11A573CDA80485B9389A208AFE" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil5D7623D61B284702A39DD495823BAB9F" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\CefSharp.BrowserSubprocess.exe" />
      </Component>
      <Component Id="cmp87C16C6CB5931B4F6721EAF68B344546" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil8440955CBBA87B60D44C5063EA4BE949" KeyPath="yes" Source="$(var.PrimaryOutputDir)\CefSubProcess.cs" />
      </Component>
      <Component Id="cmpED6B27D86A92A08733E8C4297023E89E" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil52F2E32721DA2E320A06FB7226A9814E" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\cef_100_percent.pak" />
      </Component>
      <Component Id="cmpAD0F00D51339710F5A682E36A1EFDD1F" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil63021A278071DD9E52B1B3C0CEAC1FFD" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\cef_200_percent.pak" />
      </Component>
      <Component Id="cmp4001ECA855CB2C89EF26E43D87647B75" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filC746FC3E681E2B8D98D5C1785D42CAD0" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\d3dcompiler_43.dll" />
      </Component>
      <Component Id="cmp557045603511CDD4FC02EC7BAF1A0127" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filE2838E91AD3EEBC84CC10A685255A879" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\d3dcompiler_46.dll" />
      </Component>
      <Component Id="cmpB8C81CB399A45DF0500C8CCC806D6725" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil37C5426C17BC78E76755A859E2263541" KeyPath="yes" Source="$(var.PrimaryOutputDir)\debug.log" />
      </Component>
      <Component Id="cmpE3D49D277F2F82B9DCDB1C8BE53706BF" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filEC440F1EDB76C21DFCE9781A51D68E96" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\devtools_resources.pak" />
      </Component>
      <Component Id="cmpB8736D8C69669958B5E14F925EDB18C6" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filC01C2EF38D2DF59545FA7B497D5AD152" KeyPath="yes" Source="$(var.PrimaryOutputDir)\ffmpegsumo.dll" />
      </Component>
      <Component Id="cmp2070C8742B52CED8C1E2B0A5FA35376C" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil8D331208484F98FD7470C76A5669AD3D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\icudtl.dat" />
      </Component>
      <Component Id="cmp76B21E7CA5F391B02CE82B9D2F1A8743" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil43A9AE0D86DFEDD73681EF4C05239116" KeyPath="yes" Source="$(var.PrimaryOutputDir)\libcef.dll" />
      </Component>
      <Component Id="cmpED1C29F8914A4A53211F619E1872ECC1" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil6FEA381F205FBC4A929B8656B60465E6" KeyPath="yes" Source="$(var.PrimaryOutputDir)\libEGL.dll" />
      </Component>
      <Component Id="cmp8173820A225E77A4F1F9A1A20860A672" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filC4FD67C1E47EB7B5DD004A098216196B" KeyPath="yes" Source="$(var.PrimaryOutputDir)\libGLESv2.dll" />
      </Component>
      <Component Id="cmpB885E49E4D133B5B606107BA7E6CB6F5" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="filBF1302F9FCD3CF2DFEBEBFA01C577BEE" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\Paranoia.exe.config" />
      </Component>
      <Component Id="cmpF38711A2A24795240EF7C27EB999D0AC" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil042ECC9F1BDC53B477C32199E888DDAA" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\Paranoia.vshost.exe" />
      </Component>
      <Component Id="cmp6C3A628E56CD1CE1D8D869A5FB19B095" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil845103B4718354C45469E77C91B5B4E0" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\Paranoia.vshost.exe.config" />
      </Component>
      <Component Id="cmp071A10586FCD54A5828F400067A84711" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil49578D4219BD2304EE9EBAC20EDC7601" KeyPath="yes" Source="$(var.PrimaryOutputDir)\pdf.dll" />
      </Component>
      <Component Id="cmpA4B0F46A066DE96B6F7E56147052A383" Directory="APPLICATIONFOLDER" Guid="*">
        <File Id="fil1DCD8F1BE0DD4950C08378D978978213" KeyPath="yes" Source="$(var.PrimaryOutputDir)\Program.cs" />
      </Component>
      <Component Id="cmpE07E66C5E17A58D8910960EE3CE90E2F" Directory="dir54BA5EE92CB8F37BEFA5CE0F7976ACAB" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpBBD9D3FF07BE35AC5241A701D3F86F99" Directory="dirDE139F2B8E4F53C7894010653FA4ACF5" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpF704D9257C45FB1EBCC5466290DDDEB2" Directory="dir3A20458C1B036229CDF551BF6D0E04E0" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpCD3061B942953E18E7D595A0204D331A" Directory="dir64D71989966D3C995252DD5EAD72204A" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpE7419AE588D6ABB85E801918A7DAA143" Directory="dir7ABA76C83D0AFCE97CD348E8219F4CE1" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmp1FAFAA287E3FBD564ECB0EC205E53979" Directory="dirA1C9D6EE90DA7B3D513AC1CA7D72F253" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpF9AD36EEB48C91D8E8E8B09C8A6C3D40" Directory="dir250D607B4E859FD3B153389E856E9245" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmp7839E28462BAC6A4B478780F1D23FC54" Directory="dir68BD67567308D790DAE3C9405A87DE04" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpEF0E6A1F83E92A0CF8F100A395EE6C7F" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filCEC5FACBF857064E1220105019164AE5" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\am.pak" />
      </Component>
      <Component Id="cmp62C2567F43F90D0C27821FDD5A942BE7" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil9292C5699BFD72385AE1B62DC964BC5D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ar.pak" />
      </Component>
      <Component Id="cmpBDCA0A97624455ED6B3148E51C6CD716" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil942ED5EFA2813DE0974B9D0CE4388549" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\bg.pak" />
      </Component>
      <Component Id="cmpDBDBA2E2F9956E10098644CAAFEC895D" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil0C0D38C900F41A82EBB73D5E620206F5" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\bn.pak" />
      </Component>
      <Component Id="cmp95282681C2D8C51357F7F010B796E32F" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filED2D5F537D8C270BFC46BBD2CF580FED" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ca.pak" />
      </Component>
      <Component Id="cmpA9F2362A5BC9913C95815CE357BEA9C8" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil22AE479CA55A6A7D2E870A1DB0E5DD6E" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\cs.pak" />
      </Component>
      <Component Id="cmp788AE056FFE7A8F1C9088798C2B9D16A" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filF36FAED9E51DCCAF86EC381DE84CAF99" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\da.pak" />
      </Component>
      <Component Id="cmp6E10C18A801C842F85CB4692B3BB91F1" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil071A9B8C82430F49C6295B966600A59D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\de.pak" />
      </Component>
      <Component Id="cmp4952058F60EC417C5B913F17D31604FB" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filE2EA72B722DB1885632D3B3C2BB70AD6" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\el.pak" />
      </Component>
      <Component Id="cmp8221547D5B3DB423CBBBFFAA060A9D58" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filCA6D014BA98322C55C2E97C1B1BE5A34" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\en-GB.pak" />
      </Component>
      <Component Id="cmp33B6D48D9D47FB06B5962D2046DD2157" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filDBFF5D991A0FEAD9AB79B9E14548230D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\en-US.pak" />
      </Component>
      <Component Id="cmpAAAADC6A006B386700A049AC50BA7E8C" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filD2F99BB150208A3CE32436E2A9394547" KeyPath="yes"
              Source="$(var.PrimaryOutputDir)\locales\es-419.pak" />
      </Component>
      <Component Id="cmpCFE584C7FF7E6F66BFE2E3EF9206D630" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filD14FB00DD95A3C4AF4F3ADD477FB3E86" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\es.pak" />
      </Component>
      <Component Id="cmpB9415FBC3E55E98412B4A1137C0CF556" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filA21E9A48F75815F1C4645E6E476C2CF6" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\et.pak" />
      </Component>
      <Component Id="cmpD835FAC09FAF365EC7CFF7D358B357EC" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil14AA3F9F6051B3993BFD2B25EEEA9AFC" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\fa.pak" />
      </Component>
      <Component Id="cmpC87A130587FD562381802D29C515B1F7" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filA3CE11A2E2A43961958A3BB04E34B446" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\fi.pak" />
      </Component>
      <Component Id="cmp5AF0CFD567E370B5DEF9E52F65438FEA" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil1682982F29F8D987B5CFB95BF7E43659" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\fil.pak" />
      </Component>
      <Component Id="cmp2618DA72B4EBD1CFEC9BF849B1C6A720" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil0F68D2A662FFF5D73042E7E138B2C96E" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\fr.pak" />
      </Component>
      <Component Id="cmp9A6D91745EA3CA78B704C93A44EE8A24" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil1603F737FE6234988211C98292A36310" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\gu.pak" />
      </Component>
      <Component Id="cmpC2FF4524B4F889D3755BC3F346DB7532" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filAFB1BCB7D9F666A79C9F6AA66CA26577" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\he.pak" />
      </Component>
      <Component Id="cmpFF3E713765831F7A625146E5C4EE7756" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil1CEBAA06D9054315BB0B74B5A7C7D4D7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\hi.pak" />
      </Component>
      <Component Id="cmpDFEF0DFBF83DFE56CD5D00BA3EE284CD" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil61BA9CE3CA2E4C57385BCB02CBD36F82" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\hr.pak" />
      </Component>
      <Component Id="cmp77ED9943111D332E717A324E9A7D1462" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filBFC165D8C2C0BABCF5261449D5EFD9C4" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\hu.pak" />
      </Component>
      <Component Id="cmp340CDE652C8B117D1F3F85871FB93A71" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil9FCFA54385F7BD97A8ED0B0539A626F5" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\id.pak" />
      </Component>
      <Component Id="cmpA2971C1BB31E466991E9490C7EFAD08C" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filC8A0B0B234CC53BB8E4D03223CB92178" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\it.pak" />
      </Component>
      <Component Id="cmp06E040C37C640B62E1B2BA1DC4A20E74" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil457929410F20FE3733516DC0F3730BB2" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ja.pak" />
      </Component>
      <Component Id="cmpCAFC3CDB194A6BD5F0DE487648130395" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filEC6063FD58B7A6B19E0B0C8C43E82648" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\kn.pak" />
      </Component>
      <Component Id="cmp29CF0F8D0DD57C192CFCC830705D1DDA" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filE0F3F7AA26A8474ECE3D1D2FB9ECFC3C" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ko.pak" />
      </Component>
      <Component Id="cmp29621CC9AE64EE7F2D72B7310AAAE6B7" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil88D23D63FA0DBA2E6AE967CA4DFE7D99" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\lt.pak" />
      </Component>
      <Component Id="cmp72689D0F152F42DE48C8A9FA8AFB4B6B" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filF16988A7957BA6FFDA549A549BA9D944" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\lv.pak" />
      </Component>
      <Component Id="cmp62E5A05A6984AADB535698872B4FABAB" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil597D5C068BDA609C2C5DB74E8C3079FD" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ml.pak" />
      </Component>
      <Component Id="cmpFAC95D800D87D9850FCD3B00AABB8810" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil44CC1B72B84AD8C068AC467CD88FDE71" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\mr.pak" />
      </Component>
      <Component Id="cmpBA35E583A6E70F01D86FE8BF18F33581" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil9EFD7D687D5F8A23EC1A974124F859EF" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ms.pak" />
      </Component>
      <Component Id="cmpFABCBE881F3D1973115D5D273F226778" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil8561DF1B6AE95663880CD9C0EB93E21C" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\nb.pak" />
      </Component>
      <Component Id="cmp270084105CD1BB1A39A5198747219228" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filC2FA3B3EFB4D101E560DEE61F820EF1D" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\nl.pak" />
      </Component>
      <Component Id="cmp495000D3B43E522C22562A49F9729994" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filF0D001095036F853B42E25AD92697755" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\pl.pak" />
      </Component>
      <Component Id="cmp8EB981D7CEF1B7856C7792AE7FE5267C" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil939A51F79679DCFA4F3A02F06CC915B2" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\pt-BR.pak" />
      </Component>
      <Component Id="cmp25A9665CC7FB5058BAAFDDF4513180C5" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filA24AE6E2487855D8D680C146E3BF01E1" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\pt-PT.pak" />
      </Component>
      <Component Id="cmp60CABDD4B099BA3663A1760964EA6948" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil466B2680E03F601B30B21020D984EC30" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ro.pak" />
      </Component>
      <Component Id="cmp670B9CE70C9F6D8252BEBDB2B2C9FEE5" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil94357857575709A3C52559D2DC01F786" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ru.pak" />
      </Component>
      <Component Id="cmp1FC7028DA642188F5F52E75864D2B04B" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil88B9934941FFEB0D4F5864E9BEA7901E" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\sk.pak" />
      </Component>
      <Component Id="cmp41FFA89D1A8972541C5C058083E06D57" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filFEC04C482CDFA2300BEA4699E184D9B7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\sl.pak" />
      </Component>
      <Component Id="cmpCF48B1D4FEB9F0E8995B47066D381BF0" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil21F8E3199BCD3DD6B1194F6DDC55A16B" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\sr.pak" />
      </Component>
      <Component Id="cmpD047BAEF2BD0D96CB6CDBF5045E339D8" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil3E1F45BB928DB3D8EEE7C5BCF311BFC7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\sv.pak" />
      </Component>
      <Component Id="cmpE9607A9AF365010A0F229B2816EEF6A5" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filD8F4D6B112B770FC9CEA7B94E37573B7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\sw.pak" />
      </Component>
      <Component Id="cmpA36E8F20455325C47C8E5C1488C9D4F5" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil94B8DD49F1E47784B20BCDC1A3A87DED" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\ta.pak" />
      </Component>
      <Component Id="cmpEC7739B32F92AA82886DFD25D2798580" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil22F0C25A58E9D29DCC19F9CBD3CB4B37" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\te.pak" />
      </Component>
      <Component Id="cmp3B7740B523E3C15AA134C0FEE0DA01E6" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil01FE65FA127A082B6587B0DD4034C7D2" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\th.pak" />
      </Component>
      <Component Id="cmpFFC3C12C370CEF5CBDC5F5DD49FDC4A2" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil10709857EFC915620690F9B5EAADABB7" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\tr.pak" />
      </Component>
      <Component Id="cmp1E5C3FE4762504E822DEC4FCBCAAFB9B" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="filBFB8F27F439F4FFB11886D13A8DE116B" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\uk.pak" />
      </Component>
      <Component Id="cmpFEC6AEB485B631E1CB87842374C2B4E3" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil7678A92FC3197C522CE775B0E941C9C5" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\vi.pak" />
      </Component>
      <Component Id="cmp8937CD85D5A80300EB46AA934E5FBC18" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil9550FDAAE2637F3D497B7D462C1E6660" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\zh-CN.pak" />
      </Component>
      <Component Id="cmp26452B763005B4732D8A89EBF304D6AA" Directory="dirD9BDD7640045AB6653B1C37CCF84AB0B" Guid="*">
        <File Id="fil5EE6EC9474B64A64255C24E49CD3CFD0" KeyPath="yes" Source="$(var.PrimaryOutputDir)\locales\zh-TW.pak" />
      </Component>
      <Component Id="cmp75F0EEFF7079152C64C9AB7A45667335" Directory="dir113445E6F89EECCCAD68A52BB70F8EF9" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmp0B5FDE9F0BA28E0A14E1F5358F1DE285" Directory="dir4F5F83E0389A812227380377C68B5898" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpED12BB9D933BA8D5783582D4E4F733D5" Directory="dir0FCD9E4FEBB52846A30839CE1976306B" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpD6482BB417B7E4E86A7B62AA9176EA38" Directory="dirD8D18BE0CBE3A171A18753A5B5985BB4" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
      <Component Id="cmpCAF799F00CF18598EF8B59B120AA366C" Directory="dir0A56E1DCE96682D4EA5091E415D1089C" Guid="*"
                 KeyPath="yes">
        <CreateFolder />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>