* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    color: #222222;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-color: white;
}

pre {
    font-family: Vera Sans Mono, Consolas, Lucida Console, monospace;
    white-space: pre-wrap;
}
