@accent-color: %AppAccentColor%;
@paper-background-color: white;
@scrollbar-thumb-hover-color: %ScrollThumbHoverColor%;
@scrollbar-thumb-drag-color: %ScrollThumbDragColor%;
@scrollbar-thumb-color: %ScrollThumbBackgroundColor%;
@scrollbar-background: %ScrollBackgroundColor%;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: @accent-color;
}

html {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: large;
}

ul, ol {
    padding-top: 3px;
    padding-left: 40px;
    padding-bottom: 3px;
}

body {
    background-color: @paper-background-color;
}

pre {
    font-family: Vera Sans Mono, Consolas, Lucida Console, monospace;
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    background-color: @scrollbar-background;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: @scrollbar-background;
}

::-webkit-scrollbar-track-piece {
    background-color: @scrollbar-background;
}

::-webkit-scrollbar-thumb {
    background-color: @scrollbar-thumb-color;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: @scrollbar-thumb-hover-color;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: @scrollbar-thumb-drag-color;
    }

::-webkit-scrollbar-corner {
    background-color: @scrollbar-background;
}

::-webkit-resizer {
    background-color: @scrollbar-background;
}
