* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ul, ol {
    padding-top: 3px;
    padding-left: 40px;
    padding-bottom: 3px;
}

body {
    color: #222222;
    background-color: white;
    padding: 24px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13pt;
    line-height: 1.6;
}

textarea {
    margin: 0 !important;
    background: transparent !important;
}

pre {
    font-family: Vera Sans Mono, Consolas, Lucida Console, monospace;
    white-space: pre-wrap;
}

/*::-webkit-scrollbar {
    width: 16.8px;
}*/

/*::-webkit-scrollbar {
    width: {{vertical-scrollbar-width}};
    height: {{horizontal-scrollbar-height}};
}*/

/*::-webkit-scrollbar-thumb {
    width: {{vertical-scrollbar-width}};
    height: {{horizontal-scrollbar-height}};
}*/

/*::-webkit-scrollbar-button {
    display: none !important;
}

::-webkit-scrollbar {
    width: 18px !important;
}

::-webkit-scrollbar:horizontal {
    height: 18px !important;
}
 
::-webkit-scrollbar-track {
    background: @scrollbar-track-color !important;
}
 
::-webkit-scrollbar-thumb {
    background: @scrollbar-thumb-color !important;
}

::-webkit-scrollbar-thumb:hover {
    background: @scrollbar-thumb-color-hover !important;
}

::-webkit-scrollbar-thumb:active {
    background: @scrollbar-thumb-color-active !important;
}*/