* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    color: #222222;
    background-color: white;
    padding: 24px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13pt;
    line-height: 1.6;
}

textarea {
    margin: 0 !important;
    background: white !important;
}

pre {
    font-family: Vera Sans Mono, Consolas, Lucida Console, monospace;
    white-space: pre-wrap;
}

ul, ol {
    margin-left: 36px;
    margin-top: 3px;
    margin-bottom: 3px;
}